@use '/public/styles/vars';
@use '/public/styles/mixins';

.container_contact {
  width: 70%;
  margin-top: 2rem;
  @include mixins.flex(column);

  &_title {
    margin-bottom: 3rem;
    text-align: center;
  }

  &_form {
    width: 80%;
    @include mixins.flex(column);
    margin-bottom: 4rem;
    text-align: center;
    padding: 2.4rem 1.4rem;
    border-radius: vars.$border-radius;
    box-shadow: 0px 6px 10px vars.$backgroundPrimaryLightThemeGradient;

    &_50 {
      width: 100%;
      @include mixins.flex(row, $justify: space-between);
    }
    &_100 {
      width: 100%;
      @include mixins.flex(row);
    }

    & button {
      width: 200px;
      height: 50px;
      margin-top: 1.4rem;
    }
  }
}

.button_success {
  transition: all 400ms;
  background-color: vars.$backgroundSuccessColor !important;
}

@media (max-width: 768px) {
  .container_contact {
    width: 90%;
    &_title {
      font-size: calc(1.4rem + 0.6vw);
    }
    &_form {
      & input {
        width: 100% !important;
      }
      & button {
        width: 90%;
      }
    }
  }
}
