@use '/public/styles/vars';
@use '/public/styles/mixins';

.container_form {
  position: absolute;
  @include mixins.flex(
    $direction: column,
    $align: center,
    $justify: space-between
  );
  width: 320px;
  height: 500px;
  background-color: vars.$backgroundPrimaryLightTheme;
  top: 50px;
  right: 5%;
  padding: 1.5rem 1rem;
  box-shadow: 2px 2px 4px lightgray;
  border-radius: vars.$border-radius;
  border: 1px solid vars.$backgroundPrimaryLightThemeGradient;
  z-index: 999;

  &_input {
    width: 100%;
    margin-top: 1rem;
    text-align: center;

    &_reset {
      width: 95%;
      @include mixins.flex(row, $justify: flex-end);
      margin-top: 0.6rem;
      & span {
        cursor: pointer;
        color: vars.$backgroundAdditionnalColoredTheme;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }

    &_checkbox {
      width: 95%;
      margin-left: 1rem;
      @include mixins.flex(row, $justify: flex-start);
      & span {
        padding: 0;
      }
      & svg {
        width: 1.2rem;
      }

      & p {
        font-size: 0.8rem;
        margin-left: 0.4rem;
      }
    }
  }

  &_validate {
    width: 90%;
    @include mixins.flex(
      $direction: column,
      $align: center,
      $justify: space-between
    );
    margin: 1rem;
    & span {
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
    }
    & button {
      width: 100%;
      margin-top: 1rem;
      background-color: rgb(31, 31, 31);
      &::after {
        display: none;
      }
      &:hover {
        background-color: #363636;
        box-shadow: 0 2px 5px #4e4d4d /* , -3px -6px 5px #ffffff */;
      }
    }
  }

  &_password_strength {
    width: 90%;
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 0.6rem;

    &_indicator {
      text-align: center;
      margin-top: 5px;
      height: 3px;
    }
  }
  &_passwordStrength {
    @include mixins.flex($direction: column, $justify: space-between);
    margin-top: 1rem;
  }

  &_success,
  &_error {
    margin-top: 2rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  &_success {
    background-color: vars.$backgroundSuccessColor;
  }

  &_error {
    background-color: vars.$backgroundErrorColor;
  }
}

.visibility {
  // width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  // padding: 1rem;

  & svg {
    position: absolute;
    z-index: 1;
    right: 10px;
    cursor: pointer;
    stroke: none;

    &:hover {
      fill: grey;
    }
  }
}

.password_check {
  color: #48bf48;
}
@media (max-width: 768px) {
  .container_form {
    // width: 90%;
    width: 95%;
    height: 65vh;
    margin: 0;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
