@use '/public/styles/mixins';
@use '/public/styles/vars';

.container {
  position: relative;
  width: 100%;
  @include mixins.flex(column, center, center);
  margin-top: 2rem;
  
  &_title {
    margin-bottom: 3rem;
    text-align: center;
  }
  & p {
    text-align: justify;
  }

  &_cards {
    @include mixins.flex($direction: row, $justify: space-between);
    flex-wrap: wrap;
    row-gap: 2rem;
    width: 70%;
    margin: 4rem 0;

    &_item {
      @include mixins.flex(row, stretch);
      width: 42%;
      height: 280px;
      margin: 0.5rem;

      &_details {
        width: 50%;
        height: 100%;
        margin-left: 2rem;
        @include mixins.flex(column, flex-start, space-between);
        border-top: 1px solid #1c1c1c;
        // border-bottom: 1px solid #1c1c1c;
        // border-right: 1px solid #1c1c1c;

        & span {
          font-size: 1.4rem;
        }

        &>* {
          margin: 0.5rem 0;
        }

        & h3 {
          font-size: 1.4rem;
          text-align: start;
        }
      }

      &_image {
        display: flex;

        & img {
          width: 210px;
          height: 100%;
        }
      }
    }

    & button {
      width: 100px !important;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    width: 90%;

    &_cards {
      margin: 2rem 0;
      justify-content: space-around;

      &_item {
        width: 95%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
    width: 80%;

    &_title {
      font-size: calc(1.4rem + 0.6vw);
      margin: 2rem 0;
    }

      & h3 {
        text-align: center;
      }

    &_cards {
      width: 100%;
      @include mixins.flex(column, center, center);

      &_item {
        @include mixins.flex(column, center, center);
        height: auto;

        &_image {
          & img {
            width: 270px;
            height: auto;
          }
        }

        &

        &_details {
          width: 80%;
          @include mixins.flex(column, center, center);
          margin: 1rem 0;

          p {
            text-align: justify;
          }

          & button {
            width: 160px !important;
          }
        }
      }
    }
  }
}