@use '/public/styles/mixins';
@use '/public/styles/vars';

.container {
  width: 80%;
  margin-top: 3rem;

  &_details {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row-reverse;

    &_background {
      width: 50%;
      height: auto;
    }
    &_card {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 2rem;
      text-align: start;
      line-height: 1.2;

      & > * {
        margin: 0.5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;

    &_details_background {
      overflow: hidden;
    }
  }
}

@media (max-width: 768px) {
  .container {
    // width: 100%;
    margin-top: 2rem;
    &_details {
      flex-direction: column;
      align-items: center;
      &_background {
        width: 100%;
        height: auto;
        overflow: hidden;
        & img {
          width: 100%;
          height: auto;
        }
      }
      &_card {
        width: 95%;
        padding: 0 0.5rem;
        align-items: center;
        & h3 {
          margin: 2rem 0;
          font-size: calc(1.3rem + 0.6vw);
        }
        & p,
        ul {
          text-align: justify;
          font-size: 0.9rem;
        }
        & p {
          margin: 0 0 1rem 0;
        }
      }
    }
    a {
      width: 100% !important;
    }
    .btn_gift {
      @include mixins.button(100%);
    }
  }
}
