@use '/public/styles/vars';
@use '/public/styles/mixins';

.container {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;

  & h4 {
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    color: vars.$backgroundPrimaryLightTheme;
    background-color: vars.$backgroundAdditionnalColoredTheme;
    font-size: 1.2rem;
    display: inline-block;
    font-family: var(--fontTitle);
    margin: 0 0 1.6rem 0;
    // margin: 1.4rem 0 2rem 2rem;
  }
  &_user {
    width: 320px;
    height: 100%;
    background-color: #f8f8f8ec;
    @include mixins.flex(column, flex-start, space-between);
    padding: 2rem 2rem;

    &_information {
      & h4 {
        // width: 70%;
        margin: 0 0 1.6rem 0;
      }

      & li {
        @include mixins.flex(row, center, flex-start);
        margin-bottom: 1rem;
        & svg {
          margin-right: 1rem;
        }
      }

      &_checkbox {
        @include mixins.flex(row, $justify: space-between);
        & p {
          font-size: 0.8rem;
        }
      }
    }

    &_button {
      @include mixins.flex(column, flex-start, space-between);
      row-gap: 1rem;
      width: 100%;
      margin-top: 2rem;

      & button {
        width: 48% !important;
      }

      &_update {
        width: 100%;
        display: flex;
        justify-content: space-between;
        & button {
          &:last-child {
            background-color: vars.$backgroundAdditionnalColoredTheme;
            opacity: 1;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    &_logout {
      cursor: pointer;
      @include mixins.flex(row);
      gap: 1rem;
      transition: all 200ms;
      margin: 2rem 0 1rem 0;

      &:hover {
        color: vars.$colorTitleLightTheme;
        transition: all 200ms;
      }
    }
  }

  &_booking {
    position: relative;
    @include mixins.flex(column, $align: flex-start, $justify: flex-start);
    flex-grow: 1;
    border-top: 2px solid #f3f9ff87;
    overflow: hidden;
    padding: 2rem 2rem;

    &_background {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      & svg {
        fill: none;
        stroke: vars.$backgroundAdditionnalColoredTheme;
        stroke-opacity: 0.2;
      }
    }

    &_next,
    &_outdated {
      width: 80%;
    }

    &_card {
      width: 100%;
      padding: 0.6rem;
      border-radius: 4px;
      position: relative;
      @include mixins.flex(row, flex-start, space-evenly);
      background-color: vars.$backgroundPrimaryLightTheme;

      &_date {
        font-weight: 600;
        color: vars.$colorParagraphLightTheme;
        margin-bottom: 0.6rem;
      }
      & ul {
        margin-left: 0.6rem;
        margin-bottom: 0.6rem;
      }

      &_product {
        line-height: 1.2;
      }

      &_price {
        text-align: end;

        & span {
          font-weight: 600;
          color: vars.$backgroundAdditionnalColoredTheme;
        }
      }
    }
  }
  // &_logout {
  //   // width: 90%;
  //   cursor: pointer;
  //   text-align: center;
  //   margin-top: 2rem;
  //   padding: 1rem 2rem;
  //   background-color: #000000;
  //   color: #ffffff;
  //   box-shadow: 0 2px 10px #949494;
  //   border-radius: 5px;
  // }
}

.booking_card {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.next_book {
  margin-bottom: 1.4rem;
}

.next_book,
.all_orders {
  width: 90%;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px #cccccc;

  & > * {
    margin: 1rem 0;
  }

  &_card {
    display: flex;
    width: 100%;
    box-shadow: 0 2px 5px #cccccc;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
}

.settings {
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 2rem;
  height: 2rem;
}

.card_subtitle {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.6rem;
}

@media (max-width: 1024px) {
  .container {
    &_user {
      width: 300px;
    }

    &_booking {
      padding: 2rem 1.2rem;

      &_background {
        display: none;
      }
      &_next,
      &_outdated {
        width: 100%;
      }
      &_card {
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    @include mixins.flex(column, center);
    height: auto;
    margin-top: 2rem;

    & h4 {
      width: 75%;
      text-align: center;
      margin: 2rem 0 2rem 0;
    }

    &_user {
      width: 100%;
      padding: 2rem 0 1rem 0;
      align-items: center;

      &_information {
        width: 100%;
        @include mixins.flex(column);

        & form {
          width: 85%;
          @include mixins.flex(column);
        }
      }

      &_button {
        @include mixins.flex(column);
        margin-top: 1rem;

        &_update {
          @include mixins.flex(column, center);
          row-gap: 1rem;
        }
      }
    }

    &_booking {
      @include mixins.flex(column);
      width: 100%;
      padding: 0 0;

      &_next,
      &_outdated {
        width: 95%;
      }
      &_card {
        justify-content: space-between;
        // padding: 0;
        &_date {
          margin-bottom: 0;
          font-weight: normal;
        }
      }
    }
  }
}

// @media (hover: hover) and (pointer: fine) {
//   .profile_card:hover,
//   .profile_logout:hover,
//   .next_book:hover,
//   .all_orders:hover {
//     box-shadow: 0 2px 5px #757575;
//     transition: all 200ms;
//   }

//   .profile_logout:hover {
//     background-color: #1d1d1d;
//   }
// }

// .profile_logout {
//   margin: 3rem 0;
// }
