@use '/public/styles/vars';
@use '/public/styles/mixins';

.container {
  display: flex;
  width: 100%;
  height: 80vh;
  position: relative;
  justify-content: space-between;
  &_user {
    // width: 20%;
    max-width: 300px;
    height: 100%;
    background-color: vars.$backgroundPrimaryLightThemeGradient;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 2rem;

    &_information {
      & h2 {
        margin-top: 0;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
      }

      & li {
        @include mixins.flex(row, center, flex-start);
        margin-bottom: 1rem;
        & svg {
          margin-right: 1rem;
        }
      }
    }

    &_button {
      @include mixins.flex(column, flex-start, space-between);
      row-gap: 1rem;
      width: 100%;

      & button {
        width: 48% !important;
      }

      &_update {
        width: 100%;
        display: flex;
        justify-content: space-between;
        & button {
          &:last-child {
            background-color: vars.$backgroundAdditionnalColoredTheme;
            opacity: 0.8;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    &_details {
      width: 90%;
    }

    &_avatar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100px;
      height: 100px;
      background-color: #8d8d8db9;
      border: 1px solid #d4d4d4;
      border-radius: 50px;
      box-shadow: 0 2px 10px #949494;

      & svg:nth-child(1) {
        width: 70%;
        height: 70%;
      }

      & svg:nth-child(2) {
        transition: all 200ms;
        position: absolute;
        right: 0;
        &:hover {
          transform: rotateZ(60deg);
          fill: #000000;
          transition: all 600ms;
          cursor: pointer;
        }
      }
    }

    &_contact,
    &_name,
    &_address {
      margin: 1rem 0;
      padding: 1.2rem 0.6rem;
      background-color: #fbfbfb;
      box-shadow: 0 2px 5px #cccccc;
      transition: all 400ms;

      & > * {
        margin-bottom: 0.6rem;
      }
    }
  }

  &_logout {
    // width: 90%;
    cursor: pointer;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 2px 10px #949494;
    border-radius: 5px;
  }
}

// .appears_animation {
//   opacity: 1;
//   transition: 2000ms;
//   visibility: visible;
// }

.booking_card {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.next_book {
  margin-bottom: 1.4rem;
}

.next_book,
.all_orders {
  width: 90%;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px #cccccc;

  & > * {
    margin: 1rem 0;
  }

  &_card {
    display: flex;
    width: 100%;
    box-shadow: 0 2px 5px #cccccc;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
}

.settings {
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 2rem;
  height: 2rem;
}

.card_subtitle {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.6rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.8fr 0.8fr;
    gap: 20px 0px;
    grid-template-areas:
      'profile_card'
      'booking_card';
  }
}

@media (hover: hover) and (pointer: fine) {
  .profile_card:hover,
  .profile_logout:hover,
  .next_book:hover,
  .all_orders:hover {
    box-shadow: 0 2px 5px #757575;
    transition: all 200ms;
  }

  .profile_logout:hover {
    background-color: #1d1d1d;
  }
}

.profile_logout {
  margin: 3rem 0;
}
