@use '/public/styles/vars';
@use '/public/styles/mixins';

.container {
  width: 80%;
  margin-top: 3rem;

  &_details {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;

    &_background {
      width: 50%;
      height: auto;
    }

    &_card {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 2rem;
      text-align: start;
      line-height: 1.2;
      letter-spacing: 1px;

      &_price {
        font-family: var(--fontTitle);
        font-size: 1.2rem;
      }

      & > * {
        margin: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 2rem;
    &_details {
      flex-direction: column;
      align-items: center;
      &_background {
        width: 100%;
        & img {
          width: 100%;
          height: auto;
        }
      }
      &_card {
        width: 95%;
        padding: 0 0.5rem;
        align-items: center;

        & h3 {
          margin: 2rem 0;
          font-size: calc(1.3rem + 0.6vw);
        }

        &_price {
          font-size: 1rem;
          color: vars.$colorTitleLightTheme;
        }
        & p {
          text-align: justify;
          font-size: 0.9rem;
          margin: 0 0 1rem 0;
        }
      }
    }
    a {
      width: 100% !important;
    }
    .btn_custom {
      @include mixins.button(100%);
    }
  }
}
