.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &_checkout {
    width: 70%;
    margin-bottom: 2rem;

    &_title {
      text-align: start;
      margin-bottom: 2rem;
    }

    &_desc {
      margin: 1.6rem 0 0 0;
    }
  }

  &_calendar {
    width: 70%;
    display: flex;
  }
}

.checkout {
  width: 100% !important;
}
