.shop_item {
  display: flex;
  align-items: center;

  & a {
    display: flex;

    & svg {
      font-size: 1.8rem;
    }
  }

  &_cart {
    position: relative;

    &_qty {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -4px;
      right: -10px;
      background-color: #8ea3aa;
      color: #ffffff;
      font-size: 0.7rem;
      border-radius: 50%;
    }

    &_icon {
      font-size: 1.8rem !important;
      stroke: none;
      fill: #353535;
      text-align: end;
      cursor: pointer;
      margin-bottom: -2px;
      margin-left: 5px;

      &:hover {
        fill: #000000;
      }
    }
  }
}

@media (max-width: 768px) {
  .shop_item {
    margin: 8rem 1.2rem;
  }
}
