.fc {
  width: 500px;
  height: auto;
  &-toolbar {
    &-title {
      font-family: var(--fontText) !important;
      color: #333333 !important;
    }
    &-chunk:nth-child(3) {
      display: none;
    }
  }

  &-view-harness {
    height: auto;
  }

  &-header-toolbar {
    margin-bottom: 1rem;
  }

  &-button {
    background-color: #333333 !important;
    border: none !important;
    padding: 0.1rem 0.2rem !important;
  }

  &-scroller {
    overflow: hidden !important;
    &-harness:nth-child(1) {
    }
    &-liquid-absolute {
      overflow: hidden !important;
      position: relative !important;
    }
  }
  &-col-header,
  &-daygrid-body-unbalanced,
  &-scrollgrid-sync-table {
    width: 100% !important;
  }
}
