@use '/public/styles/mixins';
@use '/public/styles/vars';

.btn_scrollTop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  opacity: 0.7;
  height: 23px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: underline;

  & svg {
    font-size: 2rem;
    fill: vars.$backgroundPrimaryDarkTheme;
    &:nth-child(1) {
      position: absolute;
      transform: rotate(90deg);
      top: -55%;
    }
  }
}
