.header {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffff;
  &_effect {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    transition: all 400ms;
  }
}

.fixed {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 5px #b3b3b3;
  -moz-box-shadow: 0px 2px 5px #b3b3b3;
  box-shadow: 0px 2px 5px #b3b3b3;
  transition: all 200ms;
}

.navbar_shop {
  width: 100%;
  display: flex;
  padding: 1.4rem;
}

.logo {
  width: 120px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    width: 90px;
  }

  .navbar_shop {
    display: none;
  }
}
