@use '/public/styles/vars.scss';

.container {
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 55px;

  &_progress_bar {
    // position: absolute;
    width: 100%;
    height: 2px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      height: 20px;
      border: 4px solid lightgray;
      border-radius: 50%;
      background-color: #f2f2f2;
    }

    & span {
      position: absolute;
      top: -35px;
      font-size: 0.9rem;
    }
  }
}

.active {
  background-color: vars.$backgroundAdditionnalColoredTheme;
}

@media (max-width: 768px) {
  .container {
    width: 70%;
  }
}
