@use './vars';

@mixin flex($direction, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin button($size: '200px') {
  width: $size;
  position: relative;
  z-index: 1;
  border: none;
  text-decoration: none;
  background-color: vars.$backgroundButtonLightTheme;
  font-family: var(--fontText);
  color: vars.$colorButtonLightTheme;
  padding: 0.8rem 1.6rem;
  // border-radius: 4px;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
  will-change: transform;
  outline: none;
  cursor: pointer;
  transition: all 600ms;

  &:hover {
    background-color: black;
    transition: all 400ms;
  }
  &:active {
    top: 2px;
  }
}
