.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;

  &__link {
    display: contents;
  }

  // & img {
  //   margin-left: 2rem;
  // }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .header {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 0.6rem 0;

    & img {
      min-width: 100px;
    }
  }
}
