@use '/public/styles/vars';
@use '/public/styles/mixins';

.container {
  width: 60%;
  @include mixins.flex(column);

  &_subtitle {
    margin-bottom: 3rem;
  }

  &_button {
    margin-top: 3rem;
  }

  &_password_strength {
    // width: 90%;
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 2rem;

    &_indicator {
      text-align: center;
      margin-top: 5px;
      height: 3px;
    }
  }
  &_passwordStrength {
    @include mixins.flex($direction: column, $justify: space-between);
    margin-top: 1rem;
  }
}

.password_check {
  color: #48bf48;
}
